.TheoryModule {
    background: #FFFFFF1A;
    border: 1px solid #B0B0B0;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
}

.theory-module-title {
    font-family: "Benzin-Bold", sans-serif;
}