.TheoryModule {
    background: #D9D9D9;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
    color: black;
}

.theory-title {
    font-family: "Benzin-Bold", sans-serif;
}