.BalancePanel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    border-bottom: solid 1px rgba(176, 176, 176, 1);
}

.balance {
    font-family: "Benzin-Bold", sans-serif;
    font-size: 25px;
    margin-top: 10px;
}

.balance-title {
    font-weight: 300;
    font-size: 13px;
    color: #B3B3B3;
    top: 80px;
    position: absolute;
}
.decor-border {
    height: 95px;
    width: 88vw;
    border-left: 1px solid rgba(176, 176, 176, 1);
    border-right: 1px solid rgba(176, 176, 176, 1);
    position: absolute;
    left: 6vw;
    top: 70px;
}