.LevelRow {
    display: flex;
    justify-content: start;
}

.LevelRow.offset {
    justify-self: end;
    align-self: end;
}

.LevelRow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 0;
    z-index: -1;
}