:root {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --main-border-color: #FAFAFA;
    --tg-theme-button-hover-color: color-mix(in srgb, var(--tg-theme-button-color), black 10%);
    --tg-theme-button-text-hover-color: color-mix(in srgb, var(--tg-theme-button-text-color), black 10%);
    --tg-theme-border-color: color-mix(in srgb, var(--tg-theme-bg-color), black 10%);
}

@font-face {
    font-family: 'Benzin-Bold';
    src: url('./fonts/benzin/Benzin-Semibold.woff2') format('woff2'),
    url('./fonts/benzin/Benzin-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Benzin-Medium';
    src: url('./fonts/benzin/Benzin-Medium.woff2') format('woff2'),
    url('./fonts/benzin/Benzin-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Benzin-Regular';
    src: url('./fonts/benzin/Benzin-Regular.woff2') format('woff2'),
    url('./fonts/benzin/Benzin-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display', sans-serif;
    src: url('./fonts/SF/SF-Pro-Display-Regular.otf') format('otf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Benzin-Regular", sans-serif;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-panel {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navigation {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    height: 90px;
    border-top: 1px solid #B0B0B0;
    margin-bottom: 10px;
    position: sticky;
    bottom: 0;
    z-index: 10;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}


.m-1 {
    margin: 8px 8px 8px 8px;
}
