.ActivityQuests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.days {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.show-reward {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: "Benzin-Bold", sans-serif;
    animation: fadeInOut 1s ease-in-out;
}

.DayReward-get {
    color: black;
    background-color: black;
}