.ActivityQuests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.days {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}