.katex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.katex {
    font-family: 'Benzin-Bold', sans-serif !important;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}