.DailyQuest {
    background: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    min-height: 100px;
    padding: 8px;
    margin: 0 8px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.daily-quest-title {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 10px;
    margin-top: 2px;
    justify-self: self-start;
}

.daily-quest-info {
    font-size: 8px;
    font-family: 'Benzin-Medium', sans-serif;
    position: relative;

}

.daily-quest-reward {
    font-size: 9px;
    font-family: 'Benzin-Bold', sans-serif;
    align-self: end;
    justify-self: end;
}